*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    background: #1A1E23;
    overflow-y: scroll;
}